<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

<body class="text-center">
  <main class="form-signin">
    <form (ngSubmit)="login()">
      <img alt="" class="mb-8" height="107" src="..//../assets\logo\Logo Transparente - ComercioControl.png"
        width="122">
      <h1 class="h3 mb-3 fw-normal">
        Bienvenido al Sistema
      </h1>
      <div class="form-floating">
      </div>
      <div class="form-floating">
      </div>
      <div *ngIf="errorMessage" style="color: red;">
        {{ errorMessage }}
      </div>
      <div class="checkbox mb-3">
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">
        ComercioControl
      </button>
      <p class="mt-5 mb-3 text-muted">
        &copy; 2024
      </p>
    </form>
  </main>
</body>