<mat-form-field class="col-md-12">
  <input type="text" matInput [formControl]="productControl" [matAutocomplete]="auto"
    placeholder="Buscar por codigo o descripcion..." (focus)="showOptions()" (click)="showOptions()">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayProduct" (optionSelected)="onProductSelected($event)">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option.codigo }} - {{ option.descripcion }} | Stock: {{ option.stock }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
